*.class
*.jar
.hg/
.hgignore
/.cider_history
/.dir-locals.el
/.env
/.lein-*
/.nrepl-port
/checkouts
/classes
/doc/build
/gh-pages
/node_modules
/pom.xml
/pom.xml.asc
/research
/target
logs/*.log*
.idea/
*.iml
*.ipr
*.iws

# Local Netlify folder
.netlify
