<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title|default:"Afterglow"}}</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">{{title|default:"Afterglow"}}</span>
        </div>
        <div class="navbar-collapse collapse ">
          <ul class="nav navbar-nav">
            <li {% ifequal page "home.html" %} class="active"{%endifequal%}>
              <a href="{{servlet-context}}/">Home</a>
            </li>
            <li {% ifequal page "console.html" %} class="active"{%endifequal%}>
              <a href="{{servlet-context}}/console">Console</a>
            </li>
            {% if show %}<li {% ifequal page "visualizer.html" %} class="active"{% endifequal %}>
              <a href="{{servlet-context}}/visualizer">Visualizer</a>
            </li>{% endif %}
            <li {% ifequal page "about.html" %} class="active"{%endifequal%}>
              <a href="{{servlet-context}}/about">About</a>
            </li>
          </ul>
          {% ifequal page "show.html" %}<p class="navbar-text">Load:
            <canvas id="loadBar" width="100" height="14"></p>{% endifequal %}
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    {% style "/css/bootstrap-cyborg.min.css" %}
    {% style "/css/screen.css" %}

    {% script "/js/jquery-2.1.4.min.js" %}
    {% script "/js/bootstrap.min.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
      var csrf_token = "{{csrf-token}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

