{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <img align="right" src="/img/Afterglow-logo-padded-left.png">
    <h2>Afterglow</h2>
    <p>A lighting controller optimized for live coding.
    <p>
      <a class="btn btn-primary btn-lg" href="{{servlet-context}}/console">Open console &raquo;</a>
      <a class="btn btn-primary btn-lg" href="http://localhost:9090/new/" target="_blank">Open OLA &raquo;</a>
      <a class="btn btn-info btn-lg" href="{{servlet-context}}/guide" target="_blank">Developer Guide &raquo;</a>
    </p>
  </div>

  <div class="row">
    <div class="span12">
      <h3>Shows</h3>
        <div class="list-group">
          {% for show in shows %}
          <a href="{{servlet-context}}/show/{{show.show.id}}"
             class="list-group-item"><span class="glyphicon text-primary glyphicon-star-empty" aria-hidden="true"></span>
            <span class="text-primary">{{ show.description }}</span></a>
          {% empty %}
          <p class="text-info">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            No shows have been registered. Use the
            <a href="{{servlet-context}}/console">console</a> to start one?
          </p>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <br/>
      <p class="text-center">Copyright
      &copy;2015&ndash;2019 <a href="http://deepsymmetry.org">Deep Symmetry, LLC</a>.
      Available under the
        <a href="https://raw.githubusercontent.com/Deep-Symmetry/afterglow/master/LICENSE">Eclipse
          Public License 2.0</a>. Version: {{version}}</p>
      <p class="text-center"><img src="/img/Deep-Symmetry-logo.png" width="200"></p>
    </div>
  </div>
{% comment %}
  <div class="row">
    <div class="span12">
    {{docs|markdown}}
    </div>
  </div>
{% endcomment %}
{% endblock %}
