{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <table id="cue-grid" class="table table-bordered">{% include "cue_grid.html" %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table metronome">
        <tr>
          <th>Metronome</th>
          <th class="division">Phrase</td>
          <th class="division">Bar</td>
          <th class="division">Beat</td>
        </tr>
        <tr>
          <td rowspan="2" class="metronome-sync">
            <button type="button" class="btn btn-sm metronome-adjust-target" id="tap-tempo">Tap Tempo</button>
          </td>
          <td class="metronome-adjust">
            <span id="phrase-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome-adjust">
            <span id="bar-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome-adjust">
            <span id="beat-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
        </tr>
        <tr>
          <td id="phrase">0</td>
          <td id="bar">0</td>
          <td id="beat">0</td>
        </tr>
        <tr>
          <td class="metronome-sync">
            <select id="metronome-sync">
              <option value="">Manual</option>
            </select>
          </td>
          <td class="metronome-adjust">
            <span id="phrase-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome-adjust">
            <span id="bar-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome-adjust">
            <span id="beat-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <div id="link-section" style="display:none">
{% include "link_menu.html" %}
      </div>
    </div>
    <div class="col-md-2">
      <table class="pull-right">
        <tr>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-up" disabled>
              <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-left" disabled>
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
          </td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-right" disabled>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-down" disabled>
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
          </td>
          <td></td>
        </tr>
      </table>
      </button>
    </div>
  </div>  

{% endblock %}
{% block page-scripts %}
    {% script "/js/jquery.json.min.js" %}
    {% comment %}{% script "/js/jquery.websocket-0.0.1.js" %}{% endcomment %}
    <script type="text/javascript">
      var page_id = "{{page-id}}";
    </script>
    {% script "/js/show_updates.js" %}
{% endblock %}  
