{% extends "base.html" %}

{% block page-nav-items %}
            <li class="navbar-text">Load: <canvas id="loadBar" width="100" height="14"></canvas></li>
            <li class="navbar-text">Status: <span id="status"></span>&nbsp;
              <button type="button" id="errorDetailsButton" class="btn btn-info btn-mini" aria-label="Left Align"
                      style="display: none;">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Details</span>
              </button>&nbsp;
              <button type="button" id="stopButton" class="btn btn-danger btn-mini" aria-label="Left Align"
                      style="display: none;">
                <span class="glyphicon glyphicon-off" aria-hidden="true"> Stop</span>
              </button>
              <button type="button" id= "startButton" class="btn btn-success btn-mini" aria-label="Left Align"
                      style="display: none;">
                <span class="glyphicon glyphicon-off" aria-hidden="true"> Start</span>
              </button>
            </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <table id="cue-grid" class="table table-bordered">{% include "cue_grid.html" %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table metronome">
        <tr>
          <th class="metronome">Metronome</th>
          <th class="metronome division">BPM</th>
          <th class="metronome division">Phrase</th>
          <th class="metronome division">Bar</th>
          <th class="metronome division">Beat</th>
        </tr>
        <tr>
          <td rowspan="2" class="metronome metronome-sync">
            <button type="button" class="btn btn-sm metronome-tap-target" id="tap-tempo">Tap Tempo</button>
          </td>
          <td class="metronome metronome-adjust">
            <span id="bpm-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome metronome-reset">
            <span id="phrase-reset" class="glyphicon glyphicon-remove-sign metronome-reset-target"></span>
          </td>
          <td class="metronome metronome-adjust">
            <span id="bar-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome metronome-adjust">
            <span id="beat-up" class="glyphicon glyphicon-plus-sign metronome-adjust-target"></span>
          </td>
        </tr>
        <tr>
          <td class="metronome" id="bpm">0</td>
          <td class="metronome" id="phrase">0</td>
          <td class="metronome" id="bar">0</td>
          <td class="metronome" id="beat">0</td>
        </tr>
        <tr>
          <td rowspan="2" class="metronome metronome-sync">
            <a href="#syncModal" role="button" class="btn btn-sm btn-primary"
               id="sync-button" data-toggle="modal">Sync</a>
          </td>
          <td class="metronome metronome-adjust">
            <span id="bpm-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome">
          </td>
          <td class="metronome metronome-adjust">
            <span id="bar-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
          <td class="metronome metronome-adjust">
            <span id="beat-down" class="glyphicon glyphicon-minus-sign metronome-adjust-target"></span>
          </td>
        </tr>
        <tr>
          <td class="metronome" colspan="4"><input id="bpm-slider"
                                                   data-slider-min="{{min-bpm}}" data-slider-max="{{max-bpm}}"
                                                   data-slider-step="0.1" data-slider-tooltip="hide"></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <div id="link-section" style="display:none">
{% include "link_menu.html" %}
      </div>
    </div>
    <div class="col-md-2">
      <table class="pull-right">
        <tr>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-up" disabled>
              <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-left" disabled>
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
          </td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-right" disabled>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary btn-sm grid-scroll-button" id="cues-down" disabled>
              <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Effects</h4>
      <div id="no-effects">
        <p>No effects are active.</p>
      </div>
      <table id="effects-table" class="table effects">
      </table>
    </div>
 </div>

  <div id="syncModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Metronome Sync</h4>
            </div>
            <div class="modal-body" id="sync-menu">
              <div class="radio">
                <label><input type="radio" name="sync" value="manual">Manual (no automatic sync).</label>
              </div>
              <p class="text-warning">No sources of automatic synchronization have been detected.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="choose-sync" data-dismiss="modal">Sync</button>
            </div>
        </div>
    </div>
  </div>

  <div id="errorDetailsModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Show Error</h4>
            </div>
            <div class="modal-body">
              <h5>Description</h5>
              <p class="text-primary" id="errorDescription"></p>
              <h5>Cause</h5>
              <p class="text-danger"><strong><span id="errorCause"></span></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
{% block page-scripts %}
    {% script "/js/jquery.json.min.js" %}
    {% style "/css/bootstrap-slider.css" %}
    {% script "/js/bootstrap-slider.min.js" %}
    {% comment %}{% script "/js/jquery.websocket-0.0.1.js" %}{% endcomment %}
    <script type="text/javascript">
      var page_id = "{{page-id}}";
    </script>
    {% script "/js/show_updates.js" %}
{% endblock %}  
