html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 35px;
}
.table>tbody>tr>td {
    padding: 3px;
}
.table-bordered>tbody>tr>td {
    border: 2px solid #060606;
}
td.cue-cell {
    width: 90px;
    max-width: 100px;
    height: 50px;
    max-height: 60px;
    text-align: center;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 13px;
}

table.metronome {
    text-align: center;
}

.table tbody>tr>th.division {
    text-align: center;
}

.table>tbody>tr>td.metronome {
    padding: 0px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.table>tbody>tr>th.metronome {
    padding: 0px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.table tbody>tr>td.metronome-sync {
    text-align: left;
    vertical-align: middle;
}

.table tbody>tr>td.metronome-sync .metronome-active {
    background-color: lightblue;
}

.table tbody>tr>td.metronome-sync .metronome-blink {
    color: yellow;
}

.table tbody>tr>td.metronome-adjust .metronome-active {
    color: lightblue;
}

.table tbody>tr>td.metronome-reset {
    color: red;
}

.table tbody>tr>td.metronome-reset .metronome-active {
    color: #f77;
}

#slider-in-bpm .slider-track-high {
    background: darkslategray;
}

#slider-in-bpm .slider-selection {
    background: slategray;
}

#loadBar {
    vertical-align: text-top;
}
