html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 35px;
}
.table>tbody>tr>td {
    padding: 3px;
}
.table-bordered>tbody>tr>td {
    border: 2px solid #060606;
}
